Flask==3.0.0
Flask-Migrate==4.0.5
Flask-SQLAlchemy==3.1.1
matplotlib>=3.7,<3.11
psycopg2-binary==2.9.9
pydantic==2.12.0
python-dotenv==1.0.1
pyserial==3.5
pytest==8.2.1
pytz==2025.2
mypy
black
isort
flake8
flake8-bugbear
flake8-import-order
