<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}LogExp{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
  <nav>
    <a href="{{ url_for('routes_ui.routes_index') }}">Home</a> |
    <a href="{{ url_for('readings_ui.readings_index') }}">Readings</a> |
    <a href="{{ url_for('diagnostics.diagnostics_index') }}">Diagnostics</a> |
    <a href="{{ url_for('docs.docs_index') }}">Docs</a> |
    <a href="{{ url_for('about.about_index') }}">About</a>
  </nav>

  {% block content %}{% endblock %}
</body>
</html>
