<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}LogExp{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
</head>

<body>
    <aside id="sidebar">
        {% include "_sidebar.html" %}
    </aside>

    <main id="content">
        {% block content %}{% endblock %}
    </main>

    {% include "_footer.html" %}

    {% block scripts %}{% endblock %}
</body>

</html>
